.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;


}



.child{
    width: 15%;
    border: 1px solid #000;
    padding: 1%;
    text-align: center;
    box-shadow: 0px 8px 8px -8px #000;
    border-radius: 3%;
    
    padding-top:1%;
    margin-right: 2%;
    margin-left: 2%;
 }
 .child p{
     padding:1px;
     color:blue;
 }


.profile{
    width: 100px;
    border: 1px solid #ddd;
    padding: 2%;
    margin: 2%;
    box-shadow: 0px 6px 6px 1px #eb07a6;
    border-radius: 70%;

}

.contact{
    width:40px;
    text-align: right;
    padding:2%;
}

.resumepic{
    width:72px;
    height:80px;
    background-color:grey;
    padding-right:3%;
    
}
.header1{
    margin:5px;
}
.header2{
    margin:5px;
    text-align:left;
    margin-left:625px;
}
.resume1{
    border: 1px solid #000;
    display:flex;
    width:75%;
    height:1200px;
    
    
}
.heading{
    margin-top:-1100px;
    margin-left:335px;
    margin-bottom: 15px;
    
}
.heading p{
    font-size:20px;
}

    








@media only screen and (min-width:320px) and (max-width: 640px){

   .child{
       width:90%;
       border:1px solid #000;
       padding:2%;
       margin:2%;
       box-shadow:0px 8px 8px -8px #000;
       border-radius:10%;
       text-align:center;
       margin-bottom:20px;

   }
   .child2{
       height:90px;
       width:160px;
       

      
   }
   .resume1{
       width:1200%;
   }
   .child1{
       height:90px;
    }
    .resumepic{
        height:90px;
        margin-right:3px;
    }
    .child3{
       text-align: right;
       padding-left:2px;
        width:100px;
        height:90px;
    }
    .header1{
        margin:5.35px;
        padding-bottom:3.25px;
        margin-left:7px;
        
    }
    .heading{
        width:500px;
        margin-left:30px;
       
        
    }
    .parent{
        width:960px;
        
        
        
    }
    .header2{
        margin-left:450px;
        width:280px;
        padding-bottom: 3.5px;
    }
    .child3 hr{
        width:719px;
        margin-left:0px;
        
       
    }
    .heading p{
        margin-bottom:1.5px;
    }
    .child2 hr{
        width:170px;
    }
    
    
    
    
}

@media only screen and (min-width:641px) and (max-width: 1024px){
    .parent{
        width:120%;
    }
    .child{
        margin:10px;
        width:210px;
    }
    .resumepic{
        height:90px;
    }
    .child2{
        height:90px;
      
    }
    .child3{
        height:90px;
    }
    .child1{
        height:90px;
    }
    .header1{
        width:140px;
        margin-bottom:9.5px;
    }
    .header2{
        margin-left:415px;
        margin-bottom:9.5px;
    }
    
    .heading{
        width:700px;
        margin-left:280px;
        
    }
}

@media only screen and (min-width:767) and (max-width:1024){

}






